# MAC
.DS_Store

# Git
*.diff
*.patch

# Sublime 2
sftp-config*

# Config Osclass
/config.php
/_config.php
.maintenance

# oc-content
oc-content/debug*.log
oc-content/queries.log
oc-content/explain_queries.log
oc-content/uploads/*

# themes
oc-content/themes/*
!oc-content/themes/index.php

# plugins
oc-content/plugins/*
!oc-content/plugins/index.php
!oc-content/plugins/google_maps/

# languages
oc-content/languages/*

# Intellij IDEA
.idea/*
*.iml

# Others
.htaccess
nbproject/
.sass-cache
package-lock.json

# npm
node_modules

#dotenv
.env

# test
oc-includes/osclass/t/config.php
oc-includes/simpletest/test/osclass/custom_config.php
composer.phar
osclass_latest.zip
.php_cs.cache
robots.txt
/scratch.php
/error.log
/.php-cs-fixer.cache
