.category-details-form label {
  display: block;
}

.category-details-form input,
.category-details-form textarea {
  margin-bottom: 20px;
  width: 250px;
}

.ui-sortable {
  margin: 0;
  padding: 0;
}

.ui-sortable li ul {
  margin-left: 39px;
  padding: 0;
}

.list-fields ul {
  @extend .list-unstyled;
  margin: 0;
  padding: 0;
}

.list-fields ul li {
  margin-bottom: 10px;
}

.cfield-div {
  @extend .d-flex, .bg-light, .rounded-1, .shadow-sm, .justify-content-between;
}

.list-categories .category_div,
.cfield-div {
  background-color: $color-gray-light;
  border: solid 1px $color-gray-soft;
  padding: 5px;
  @include rounded-corners;
  position: relative;

  &:hover {
    background-color: $warning-bg !important;
  }
}

.list-categories .category_row {
  height: 26px;
  padding-left: 87px;
}

.ico-droppable {
  border-right: solid 1px $color-gray-soft;
  cursor: move;
  height: 36px;
  left: 1px;
  margin-left: 2px;
  position: absolute;
  top: 1px;
  width: 34px;
}

.ico-childrens {
  border-right: solid 1px $color-gray-soft;
  height: 36px;
  left: 36px;
  margin-left: 2px;
  position: absolute;
  top: 1px;
  width: 38px;
}

.ui-sortable li ul li ul li ul .category_row {
  padding-left: 49px;
}

.ui-sortable li ul li ul li ul .subcategory .toggle,
.subcategory .subcategory .subcategory .ico-childrens {
  display: none;
}

/*
.ui-sortable li ul .ico-childrens{
    display: none
}
*/
.ico-childrens .toggle {
  display: block;
  float: left;
  height: 10px;
  margin-left: 7px;
  margin-top: 7px;
  padding: 5px;
  text-indent: -99999px;
  width: 10px;
}

/* categories */
.list-categories a {
  cursor: pointer;
}

.list-categories .name-cat,
.list-fields .name-edit-cfield {
  color: $color-gray-dim;
  font-size: 15px;
  line-height: 26px;
}

.list-fields .name-edit-cfield {
  padding-left: 10px;
}

ul.subcategories {
  margin-left: 20px;
}

.list-categories li {
  margin-top: 10px;
}

div.disabled .category_row,
.category_li .disabled {
  background-color: #FFE8E8;
}

.iframe-category {
  @extend .card;

  h3 {
    @extend .card-header;
    font-size: $h5-font-size;
  }

  .grid-system {
    @extend .card-body;
  }
}

.iframe-category .input-line {
  float: left;
}

.list-categories .form-actions {
  margin-top: 0;
}

.toggle {
  cursor: pointer;
}

/*
.subcategory .toggle {
    display: none;
}*/
/* /categories */
.categories-tree {
  clear: both;
}

#advanced_fields_iframe {
  border-bottom: solid 1px $color-gray-soft;
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 10px;
  padding-bottom: 5px;
  padding-left: 15px;
  position: relative;
}

.custom-field-shrink .icon-more:before {
  content: "\f231";
  font-family: "bootstrap-icons";
}

.custom-field-expanded .icon-more:before {
  content: "\f229";
  font-family: "bootstrap-icons";
}