.form-label {
  font-size: .85rem;
}

.form-label-checkbox {
  padding-top: 5px;
}

.form-row {
  font-size: .85rem;
  line-height: 18px;
}

.form-actions {
  background: #f3f3f3;
  border-radius: 4px;
  box-shadow: inset 0 0 2px 0px #0000001c;
  padding: 10px 100px;
  width: 100%;
}

.form-horizontal {
  .form-row {
    margin-bottom: 15px;
  }

  .form-label {
    float: left;
    width: 150px;
    /*padding-top: 5px;*/
    text-align: right;
    word-break: break-word;
  }

  .form-controls {
    margin-left: 170px;

  }

  .form-actions {
    padding-left: 170px;
  }
}

.form-row {
  .input-text, input[type="text"] {
    vertical-align: baseline;
  }
}

.form-controls {
  select {
    @extend .form-select-sm, .form-select;
    max-width: 15rem;
  }

  input {
    &:not([type="checkbox"]):not([type="radio"]):not([type="submit"]) {
      @extend .form-control, .form-control-sm;
      width: 15rem;
    }
  }
  textarea {
    @extend .form-control;
  }
}

.select-box-medium {
  select {
    width: 12rem;
  }
}

.select-box-input {
  select {
    width: 10rem;
  }
}

.select-box-big {
  select {
    width: 15rem;
  }
}

.select-box .select-box-label {
  display: block;
  float: left;
  line-height: 16px;
  overflow: hidden;
}
input.large,
input.xlarge,
.input-text,
.input-password,
{
  @extend .form-control, .form-control-sm;
  width: 15rem;
}

input.input-small {
  @extend .form-control, .form-control-sm;
  width: 5rem;
}

input.input-medium {
  @extend .form-control, .form-control-sm;
  width: 10rem;
}

input.input-large {
  @extend .form-control, .form-control-sm;
  width: 15rem;
}

input.input-actions {
  height: 24px;
}
