#help-box {
  h3 {
    font-size: 14px;
    margin: 0;
  }

  p {
    font-size: .85rem;
  }
}

.help-box {
  background: $yellow-100;
  border-left: .2rem $yellow-500 solid;
  color: color-contrast($yellow-100);
  border-radius: 4px;
  display: inline-block;
  font-size: .85rem;
  font-style: italic;
  margin-top: .5rem;
  padding: .5rem;
  width: auto;
}