#help-box {
  h3 {
    font-size: 14px;
    margin: 0;
  }

  p {
    font-size: .85rem;
  }
}

.help-box {
  background: $info-bg;
  border-radius: 4px;
  box-shadow: 0 0 5px 0px $gray-200;
  display: inline-block;
  font-size: .85rem;
  font-style: italic;
  margin-top: .5rem;
  padding: .5rem;
  width: auto;
}