#content {
  background-color: $color-white;
  z-index: 0;
  min-height: 600px;
}

#sidebar {
  border-right: solid 1px $color-gray-soft;
  background-color: $color-gray-light;
}

#footer-wrapper {
  border-top: 3px solid $color-gray-soft;
  background-color: $color-gray-light;
  color: #555;
  padding: 20px 70px 20px 15px;
}

#footer {
  font-size: 12px;
}

#footer #ninja {
  position: absolute;
  right: 15px;
  top: 5px;
}

#dashboard {
  width: 900px;
}

h2.separate-top,
.separate-top {
  margin-top: 40px;
}

h3.separate-top,
.separate-top {
  margin-top: 20px !important;
}

.separate-top-medium {
  margin-top: 15px;
}

div.no-bottom-margin {
  margin-bottom: 0;
}

.relative {
  position: relative;
}