.plugin-support-icon {
  margin: 5px;
}

#upload-plugins {
  .table {
    border: none;

    tr {
      border-bottom: 0.05rem solid $gray-200;
      border-right: 0.05rem solid $gray-400;
      vertical-align: middle;
    }

    thead {
      tr {
        border: .05rem solid $gray-400;
        border-left-width: .2rem;
      }
    }

    tbody {
      tr {

        a {
          font-weight: 500;
          text-align: center;
          text-decoration-line: none;
        }

        i {
          color: $gray-800;
          font-size: 1.2rem;
          text-align: center;
        }
      }
    }
  }

  .plugin-active {
    background: tint-color($success, 80%);
    border-left: .2rem solid $success;
    color: $gray-800;
  }

  .plugin-disabled {
    background: tint-color($warning, 80%);
    border-left: .2rem solid $warning;
    color: $gray-800;
  }

  .plugin-uninstalled {
    background: tint-color($danger, 80%);
    border-left: .2rem solid $danger;
    color: $gray-800;
  }
}