#market-quick-search {
  position: absolute;
  right: 30px;
  top: 30px;
}

.current-theme {
  padding-top: 20px;
}

.current-theme .theme {
  float: none;
  height: auto !important;
  margin-right: 0;
  width: auto;
}

.current-theme .theme img {
  float: left;
}

.theme {
  background-color: $color-gray-light;
  float: left;
  font-size: 12px;
  margin-bottom: 40px;
  margin-right: 20px;
  padding: 10px;

  @include rounded-corners;
  width: 250px;
}

.theme img {
  border: solid 1px $color-gray-soft;
  margin-right: 20px;
  width: 250px;
  @include rounded-corners;
}

.theme .theme-actions {
  background-color: rgba(243, 243, 243, 0.9);
  *background-color: rgb(243, 243, 243);
  border-top: solid 1px $color-gray-soft;
  bottom: 4px;
  left: 1px;
  padding: 6px 0 1px 6px;
  position: absolute;
  width: 244px;
}

.theme .theme-actions .btn {
  margin-bottom: 5px;
  padding-left: 6px;
  padding-right: 6px;
}

.theme-actions a.delete {
  color: $color-gray-dim;
}

.theme .theme-info,
.theme .theme-info h3 {
  font-weight: normal;
}

.theme-stage {
  position: relative;
}

.appearance .theme {
  height: 285px;
}

.appearance .theme img {
  height: 187px;
  width: 250px;
}

tr.plugin td {
  padding: 10px;
}

tr.plugin h3,
tr.plugin h3 {
  color: $color-gray-hardblack;
  font-weight: bold;
  margin: 0;
}

.plugin-actions {
  padding-top: 10px;
}

