/*!Custom Responsive rules */

@media (max-width: 576px) {
  #content-page {
    & > .col {
      padding-left: .1rem;
      padding-right: .1rem;
    }
  }
  .grid-10,
  .grid-20, .grid-30, .grid-33, .grid-40, .grid-50, .grid-60, .grid-70, .grid-80, .grid-80, .grid-100 {
    width: 100%
  }
  #display-filters .form-horizontal, .form-horizontal {
    .form-label {
      float: none;
      font-weight: 600;
      padding-top: .5rem;
      text-align: inherit;
      width: 100%;
    }
    .form-controls {
      margin-left: inherit;

      select {
        width: 100%;
      }

      > input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]) {
        width: 100%;
      }
      .input-small,
      .input-medium,
      .input-large,
      .xlarge,
      .input-text,
      .input-password {
        width: 100%;
      }
    }

    .form-actions {
      padding: 1rem 1rem;
    }
  }
  .select-box-medium,
  .select-box-input ,
  .select-box-big {
    select {
      width: 100%;
    }
  }
  .form-vertical {
    .form-actions {
      padding: 1rem 1rem;
    }
  }
  #datatablesForm {
    .table {
      .col-location {
        display: none;
        visibility: hidden;
      }

      .col-exp {
        display: none;
      }

      .col-date {
        display: none;
      }

      .col-off, .col-rep, .col-bad, .col-spam {
        max-width: 2.5rem !important;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
  #upload-plugins {
    th:nth-child(2), td:nth-child(2) {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  #header {
    .navbar-nav .dropdown-menu {
      position: absolute;
    }
  }
  #content-page {
    padding: .5rem .5rem 3rem;

    & > div > div.row-wrapper {
      padding: .1rem;
    }
  }
  #listing-toolbar, #admins-toolbar, #users-toolbar {
    & + #datatablesForm #bulk-actions {
      left: inherit;
      max-width: 12rem;
      position: absolute;
      right: 0;
      top: -3rem;
    }
  }
  .table {
    .col-title {
      min-width: 100px;
    }

    .col-expiration {
      display: none;
    }

    .col-status-border {
      display: none;
    }

    .col-status {
      border-left: 1px solid rgba(0, 0, 0, 0.1);
    }
  }
}

@media (max-width: 1024px) {
  #header .navbar-toggler {
    display: block;
  }
  #datatablesForm {
    .table {
      .col-bulkactions {
        & + td {
          min-width: 3rem;

          & ~ td {
            max-width: 4rem;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

        & + th {
          min-width: 3rem;

          & ~ th {
            max-width: 6rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }
    }
  }
}