.table {
  @extend .shadow-sm, .table-striped;
  width: 100%;
  font-size: 14px;
  border: 1px solid $gray-400;
  --#{$variable-prefix}table-striped-bg: #{$gray-300}33;

  thead {
    border-bottom: 1px solid $gray-400;

    th {
      font-weight: normal;

      a {
        text-decoration-line: none;
      }
    }
  }

  tbody {
    .col-title {
      font-weight: 500;
      font-size: ($font-size-base - .1);

      a {
        text-decoration-line: none;
      }
    }
  }
}

.table th,
.table td {
  padding: 7px;
  line-height: 18px;
  border-left: 0;
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
}

.table thead th,
.table thead td,
.table-first-row td {
  border-top: 0;
}

.table-contains-actions tbody td {
  padding-bottom: 25px;
}

#table-row-actions {
  display: none;
  position: absolute;
  margin-top: -22px;
  font-size: 13px;
  padding: 0 6px;

  a {
    text-decoration-line: none;
  }
}

.table-collapsed #table-row-actions {
  margin-top: 0;
  padding: 3px 42px;
}

.table-collapsed tbody td {
  padding-bottom: 4px;
}

.collapsed-hover td {
  padding-top: 31px;
}

#table-row-actions ul {
  list-style: none;
  padding: 0;
  margin: 4px 0 0;
}

#table-row-actions li {
  float: left;
  margin-right: 10px;
}

#table-row-actions li a {
  float: left;
}

#table-row-actions li ul {
  float: left;
  margin: 0;
}

#table-row-actions a {
  color: #018BE3;
  text-decoration: none;
}

#table-row-actions .show-more ul {
  display: none;
}

#table-row-actions .hover a {
  display: none;
}

#table-row-actions .hover ul a {
  display: block;
}

#table-row-actions .hover ul {
  display: block;
}

#table-row-actions a:hover {
  text-decoration: underline;
}

.col-bulkactions {
  opacity: 1 !important;
  text-align: center !important;
}

.table-contains-actions {
  position: relative;
}

.table div.actions {
  display: none;
}

.table td.col-status-border {
  width: 1px;
  margin: 0;
  padding: 0;
  border-top: 0;
  border-bottom: 0;
  border-right: 0;
}

.table td.col-status {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 0;
  width: 50px;
  padding: 0 10px;
  margin: 0;
  font-weight: bold;
  vertical-align: middle;
  border-left: 0;
}

.table .status-spam td.col-status-border {
  background: #323A45;
}

.table .status-spam td.col-status {
  background: $gray-700;
  color: $gray-200;
}

.table .status-blocked td.col-status-border {
  background: $color-red-border;
}

.table .status-blocked td.col-status {
  background: $color-red;
  color: $gray-100;
}

.table .status-inactive td.col-status-border {
  background: $gray-500;
}

.table .status-inactive td.col-status {
  background: $gray-400;
  color: $gray-800;
}

.table .status-premium td.col-status-border {
  background: $yellow;
}

.table .status-premium td.col-status {
  background: $yellow-300;
  color: $yellow-800;
}

.table .status-active td.col-status-border {
  background: $color-blue-border;
}

.table .status-active td.col-status {
  background: $color-blue-hover;
  color: $gray-100;
}

.table .status-expired td.col-status-border {
  background: $gray-800;
}

.table .status-expired td.col-status {
  background: $gray-200;
  color: $gray-800;
}
td.children-cat {
  padding-left: 20px;
}

table.table-small {
  width: 280px;
}

.order-box {
  position: relative;
  padding-right: 20px;
}

.order-box img {
  position: absolute;
  right: 5px;
  width: 10px;
  height: 10px;
  cursor: pointer;
  opacity: 0.5;

  filter: alpha(opacity=5);
}

.order-box img:hover {
  opacity: 1;

  filter: alpha(opacity=1);
}

.order-box .up {
  top: 0;
}

.order-box .down {
  top: 10px;
}

.sorting_desc a {
  padding-right: 30px;

  &:before {
    font-family: 'bootstrap-icons';
    content: "\f229";
  }
}

.sorting_asc a {
  padding-right: 30px;

  &:before {
    font-family: 'bootstrap-icons';
    content: "\f235";
  }
}

/* Columns width */
.col-bulkactions {
  width: 20px;
}

.col-order {
  width: 55px;
}

.col-date {
  width: 160px;
}

.col-title {
  min-width: 280px;
}

table .icon-new-window {
  margin-left: 5px;

  &:before {
    font-family: 'bootstrap-icons';
    content: "\f1c5";
  }
}