.table {
  @extend .shadow-sm, .table-striped;
  --#{$variable-prefix}table-striped-bg: #{$gray-300}33;
  background-color: $gray-100;
  border: 1px solid $gray-400;
  font-size: 14px;
  width: 100%;

  &.table-small {
    width: 280px;
  }

  thead {
    border-bottom: 1px solid $gray-400;

    th {
      font-weight: normal;

      a {
        text-decoration-line: none;
      }
    }
  }

  tbody {
    .col-title {
      font-size: ($font-size-base - .1);
      font-weight: 500;

      a {
        text-decoration-line: none;
      }
    }
  }

  th, td {
    border-bottom: 0;
    border-left: 0;
    border-top: 0;
    line-height: 1rem;
    padding: .5rem;
  }

  td {
    &.col-status {
      font-weight: bold;
      margin: 0;
      vertical-align: middle;
    }

    &.col-status-border {
      margin: 0;
      padding: 0;
      width: .8rem;
    }
  }

  div {
    &.actions {
      display: none;
    }
  }

  @each $state, $bg-status in $table-status {
    .status-#{$state} {
      .col-status {
        background: $bg-status;
        color: color-contrast($bg-status)
      }

      .col-status-border {
        background: shade-color($bg-status, 20%);
      }
    }
  }

  .icon-new-window {
    margin-left: 5px;

    &:before {
      content: "\f1c5";
      font-family: "bootstrap-icons";
    }
  }
}

.table-first-row {
  td {
    border-top: 0;
  }
}

.table-contains-actions {
  tbody {
    td {
      padding-bottom: 25px;
    }
  }
}

.table-collapsed {
  #table-row-actions {
    margin-top: 0;
    padding: 3px 42px;
  }

  tbody {
    td {
      padding-bottom: 4px;
    }
  }
}

.collapsed-hover {
  td {
    padding-top: 31px;
  }
}

#table-row-actions {
  display: none;
  font-size: .85rem;
  margin-top: -25px;
  padding: 0 6px;
  position: absolute;

  a {
    color: #018BE3;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  ul {
    list-style: none;
    margin: 4px 0 0;
    padding: 0;
  }

  li {
    float: left;
    margin-right: 10px;

    a {
      float: left;
    }

    ul {
      float: left;
      margin: 0;
    }
  }

  .show-more {
    ul {
      display: none;
    }
  }

  .hover {
    a {
      display: none;
    }

    ul {
      display: block;

      a {
        display: block;
      }
    }
  }
}

.table-contains-actions {
  position: relative;
}

td {
  &.children-cat {
    padding-left: 20px;
  }
}

.order-box {
  padding-right: 20px;
  position: relative;

  img {
    cursor: pointer;
    filter: alpha(opacity=5);
    height: 10px;
    opacity: 0.5;
    position: absolute;
    right: 5px;
    width: 10px;

    &:hover {
      filter: alpha(opacity=1);
      opacity: 1;
    }
  }

  .up {
    top: 0;
  }

  .down {
    top: 10px;
  }
}

.sorting_desc {
  a {
    padding-right: 30px;

    &:before {
      content: "\f229";
      font-family: "bootstrap-icons";
    }
  }
}

.sorting_asc {
  a {
    padding-right: 30px;

    &:before {
      content: "\f235";
      font-family: "bootstrap-icons";
    }
  }
}

/* Columns width */
.col-bulkactions {
  opacity: 1 !important;
  text-align: center !important;
  width: 20px;
}

.col-order {
  width: 55px;
}

.col-title {
  min-width: 280px;
}