.treeview, .treeview ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.treeview ul {
  margin-top: 0;
}

.treeview .hitarea {
  height: 12px;
  width: 12px;
  float: left;
  cursor: pointer;
  margin-right: 5px;

  &:before {
    font-family: 'bootstrap-icons';
    content: "\f2e5";
  }
}

.treeview ul li {
  margin: 0;
  padding: 3px 0 3px 16px;
}

#treecontrol {
  margin: 1em 0;
  display: none;
}

.treeview .hover {
  cursor: pointer;
}

.treeview .expandable-hitarea {
  margin-right: 5px;

  &:before {
    font-family: 'bootstrap-icons';
    content: "\f4f9";
  }
}

.treeview .placeholder {
  background: url(../images/split.png) 0 0 no-repeat;
  height: 12px;
  width: 12px;
  display: block;
}

form h3 {
  font-size: 16px;
  font-weight: normal;
}